beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2018.11.29
chardet==3.0.4
dataclasses==0.6
Django==2.0.8
djongo==1.2.31
idna==2.8
numpy==1.14.5
pandas==0.23.3
pymongo==3.7.2
python-dateutil==2.8.0
pytz==2018.9
requests==2.21.0
scipy==1.1.0
six==1.12.0
soupsieve==1.7.3
sqlparse==0.2.4
urllib3==1.24.1
